<ion-header>
  <ion-navbar>
    <ion-title>Restaurants</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="pushAddRestaurant()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-searchbar (ionInput)="getRestaurants($event)"></ion-searchbar>
  <ion-list>
    <ion-item *ngFor="let restaurant of restaurants; let r = index;" (click)="pushRestaurant(restaurant)">
      {{ restaurant.name }}
      <ion-icon name="star" *ngFor="let star of ratingStars[r]"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>
